body {
  font-family: Arial, sans-serif;
  background: #f0f8ff;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.card {
  margin: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: inline-block;
  text-align: center;
}

.card img {
  height: 120px;
}

.target {
  margin: 20px 0;
}

.target .card {
  display: inline-block;
}

.target img {
  height: 180px !important;
  width: auto !important;
  max-width: 100%;
  display: block;
  margin: auto;
}

.card.selected {
  transform: translateY(-10px);
  box-shadow: 0 0 10px 3px #00f5ff;
}

.card-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
  color: black;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

/* .operator-img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 0 10px;
}

.operator-img:hover {
  transform: scale(1.1);
}

.selected-operator {
  box-shadow: 0 0 10px 3px #00f5ff;
  border-radius: 10px;
} */

.operator-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 0 10px;
  background-color: transparent;
  border: none;
}

.operator-button:hover {
  transform: scale(1.1);
}

.operator-button.selected-operator {
  box-shadow: 0 0 15px 5px #00f5ff;
}

.operator-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}